name: DEBUG

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  github:
    runs-on: ubuntu-latest
    container:
      image: fluidity/actions:focal-9c94ec79a1e4dcc68f1c82b481b36571f9f11d1d

    steps:
      - name: Test on github runner
        run: |
          cd /home/fluidity/tests/square-convection-parallel-trivial
          make input
          ls -la
          export PYTHONPATH=/home/fluidity/python
          mpiexec -n 2 ../../bin/flredecomp -i 1 -o 2 -v -l square-convection square-convection_flredecomp
          ls -la
          cat flredecomp.err-0
          mpiexec -n 2 ../../bin/fluidity -v2 -l square-convection_flredecomp.flml
          ls -la
          cat *err-?
          cd /home/fluidity
          bin/testharness -f square-convection-parallel-trivial.xml
          cd /home/fluidity/tests/square-convection-parallel-trivial
          ls -la
          cat *err-?
